@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #faf4f0;
    --foreground: #1a1a1a;
    --card: #eee9e5;
    --card-foreground: #1a1a1a;
    --popover: #ffffff;
    --popover-foreground: #1a1a1a;
    --primary: #2b2b2b;
    --primary-foreground: #fafafa;
    --secondary: #eee9e5;
    /* --secondary: #f5f5f5; */
    --secondary-foreground: #2b2b2b;
    --muted: #f5f5f5;
    --muted-foreground: #767676;
    --accent: #fdc12d;
    --accent-foreground: #2b2b2b;
    --destructive: #d93636;
    --destructive-foreground: #fafafa;
    --border: #1a1a1a;
    --input: #e6e6e6;
    --ring: #2b2b2b;
    --radius: 0.5rem;
    --chart-1: #e66b3e;
    --chart-2: #2b9f63;
    --chart-3: #3e5f7e;
    --chart-4: #b3c43b;
    --chart-5: #e6d11a;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #424456;
    --sidebar-primary: #1a1a1f;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f4f4f5;
    --sidebar-accent-foreground: #1a1a1f;
    --sidebar-border: #e8edf2;
    --sidebar-ring: #3399ff;
  }
  .dark {
    --background: #1a1a1a;
    --foreground: #fafafa;
    --card: #1a1a1a;
    --card-foreground: #fafafa;
    --popover: #1a1a1a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #2b2b2b;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #993333;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d9d9d9;
    --chart-1: #3399ff;
    --chart-2: #66cc99;
    --chart-3: #ffcc33;
    --chart-4: #b366ff;
    --chart-5: #ff6699;
    --sidebar-background: #0a0a0a;
    --sidebar-foreground: #f5f5f5;
    --sidebar-primary: #3399cc;
    --sidebar-primary-foreground: #0a0a0a;
    --sidebar-accent: #1a1a1a;
    --sidebar-accent-foreground: #f5f5f5;
    --sidebar-border: #1a1a1a;
    --sidebar-ring: #33ccff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground selection:bg-[#fee689] selection:text-black;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance leading-tight;
  }

  img {
    @apply bg-card;
  }
}

@layer components {
  .tw-animation {
    @apply transition-all duration-300 ease-in-out;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
